# Ignora o seu ambiente virtual
venv/
env/

# Ignora os arquivos de cache do Python
__pycache__/
*.pyc

# Ignora o arquivo onde você vai guardar as senhas do sistema no futuro
.env

# Ignora o seu Banco de Dados Atual
database.db

# Ignora lixos do sistema operacional (Mac/Windows)
.DS_Store
Thumbs.db